<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Recommendation System</title>
</head>
<body>

    <div style="text-align: center;">
        <h1>Welcome to the Restaurant Recommendation System</h1>
        <p>This system provides personalized restaurant recommendations based on user preferences and reviews.</p>
        
        <!-- Image from a network source -->
        <img src="https://www.aarki.com/hs-fs/hubfs/ML-recommendation-engine-1.jpg?width=1022&name=ML-recommendation-engine-1.jpg" alt="Recommendation System Image" style="width: 50%; max-width: 800px; height: auto;">
        
        <br><br>
        
        <!-- Button for navigating to the prediction page -->
        <form action="/predict" method="post">
            <button type="submit">Go to Recommendation</button>
        </form>
    </div>

</body>
</html>
